<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <style>
        body {
          text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Blog Project</h1>
    {% for blog in blogs %}
        {{blog.title}} </br>
        {{blog.writer}} </br>
        {{blog.summary}} 
        <a href="{% url 'detail' blog.id %}">...more</a></br>
    {% endfor %}
  </body>
</html>